<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Data Summary</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

</head>

<body>
    <div id="app">
        <div class="row">
            <!-- <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetouseradmin">User(Adm)</button></td>
            <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoplaceadmin">QR Place(Adm)</button></td>
            <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetocontentsgroupadmin">Cont.Group(Adm)</button></td>
            <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoqrcontent">QRContent(C)</button></td>
            <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetostoreditem">StoredItem</button></td> -->
            <!-- <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetostoreditemcreate">StoredItem(C)</button></td>
            <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetostoreditemupdate">StoredItem(U)</button></td> -->
            <!-- <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoprintqr">printQR</button></td>
            <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoqrreader">QR Reader</button></td> -->
            <table class="table table table-striped ml-5 mt-5">
                <th></th>
                <th>ID</th>
                <th>NKKK</th>
                <th>Group</th>
                <th>TEMP</th>
                <th>Quantity</th>
                <th>Status</th>

                <tbody>

                    <!-- <tr>
                        <td><button type="button" class="btn btn-outline-primary"
                                v-on:click="storeditemregister">Initial Register</button></td>
                        <td>Auto Id</td>
                        <td></td>
                        <td></td>
                        <td><input type="text" class="form-control" v-bind:value="firstregistercontentsId"></td>
                        <td></td>
                        <td></td>
                        <td> <select v-model="firstregisteredselectedplaceId">
                                <option v-for="eachplace in allplaces" v-bind:value="eachplace.id">
                                    {{ eachplace.name }}
                                </option>
                            </select>
                            <span>Selected: {{ firstregisteredselectedplaceId }}</span>
                        </td>
                        <td><input type="text" class="form-control" v-bind:value="firstregisteruserId"></td>
                        <td><input type="text" class="form-control" v-bind:value="firstregisteruserName"></td>
                        <td><input type="text" class="form-control" v-bind:value="firstregisteruserId"></td>
                        <td><input type="text" class="form-control" v-bind:value="firstregisteruserName"></td>
                        <td></td>
                    </tr> -->

                    <!-- <tr>
                        <td><button type="button" class="btn btn-outline-primary" v-on:click="readall">Read All</button>
                        </td>
                    </tr> -->
                    <!-- <tr is=silist v-for="list in selectedstoreditemlist" v-bind:storage="list"></tr> -->
                    <tr is=silist v-for="list in storeditemlists" v-bind:storage="list"></tr>
                </tbody>

            </table>
            <table class="table table table-striped ml-5 mt-5">
                    <td>QR Creation</td>
                    <td><button type="button" class="btn btn-outline-primary" v-on:click="qrissue">QR Creation</button></td>
                </table>
            <table class="table table table-striped ml-5 mt-5">
                <td>LogOut</td>
                <td><button type="button" class="btn btn-outline-primary" href="/logout">Logout</button></td>
            </table>
        </div>
        <pre>{{$data}}</pre>

    </div>

    <script src="./js/componentsQRlabel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>


</body>

</html>