<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Data Summary</title>
    <!-- <link rel="stylesheet" href="./css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Vueは一番初めに出さないとnew Vueできない -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="container">
        <table class="table">
            <div class="row">
                <div class="col-sm-2"><span>No.</span></div>
                <div class="col-sm-4"><input type="text" class="form-control" name=nkkkNo v-model="selecteddata.nkkkno">
                </div>
                <div class="col-sm-2"><input type="text" class="form-control" name=groupNo
                        v-model="selecteddata.groupno"></div>
                <div class="col-sm-4"><input type="text" class="form-control" name=tempNo v-model="selecteddata.tempno">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"><img src="./image/nkkk.png"></div>
                <div id="qrprint" class="col-sm-3"></div>
                <div class="col-sm-5"><input type="text" name=netweight v-model="selecteddata.quantity"></div>
                <div class="col-sm-1"><span>kg</span></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <span>{{qr_data}}</span>
                </div>
            </div>
        </table>
        <br><br><br>

        <table class="table">
            <div class="row">
                <tr>
                    <td> <select v-model="selecteddata">
                            <option disabled value="">Select Id</option>
                            <option v-for="eachd in alldata" v-bind:value="eachd">
                                {{ eachd.id }}
                            </option>
                        </select>
                        <span>Selected: {{ selecteddata }}</span>
                    </td>
                </tr>
            </div>
        </table>


        <table class="table">
            <div class="row">
                <tr>
                    <td>Id</td>
                    <td>NKKK</td>
                    <td>Group</td>
                    <td>Temp</td>
                    <td>Quantity</td>
                    <td>Status</td>
                </tr>
            </div>
            <div class="row">
                <tr v-for="eachdata in alldata">
                    <!-- <td><input type="checkbox" id="checkbox" v-model="eachdata.check"></td> -->
                    <td>{{eachdata.id}}</td>
                    <td>{{eachdata.nkkkno}}</td>
                    <td>{{eachdata.groupno}}</td>
                    <td>{{eachdata.tempno}}</td>
                    <td>{{eachdata.quantity}}</td>
                    <td>{{eachdata.status}}</td>
                </tr>
            </div>
        </table>

        <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="qrlabelissue">QR
                Label</button></td>
        <!-- <pre>{{$data}}</pre> -->
    </div>

</body>


<script src="./js/datasummary.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


</html>